# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/Resources/price_history/all_prices_september_CSV.csv
src/Resources/price_history/all_prices_september.json
src/Resources/price_history/October/01-10-22.json
src/Resources/price_history/October/02-10-22.json
src/Resources/price_history/October/03-10-22.json
src/Resources/price_history/October/04-10-22.json
src/Resources/price_history/October/05-10-22.json
src/Resources/price_history/October/06-10-22.json
src/Resources/price_history/October/07-10-22.json
src/Resources/price_history/October/08-10-22.json
src/Resources/price_history/October/09-10-22.json
src/Resources/price_history/October/10-10-22.json
src/Resources/price_history/October/11-10-22.json
src/Resources/price_history/October/12-10-22.json
src/Resources/price_history/October/13-10-22.json
src/Resources/price_history/October/14-10-22.json
src/Resources/price_history/October/15-10-22.json
src/Resources/price_history/October/16-10-22.json
src/Resources/price_json/october.json
src/Resources/price_json/september.json
src/Resources/usage_csv/september.csv
src/images/user1.jpg
src/images/user2.jpg
src/images/user3.jpg
src/images/user4.jpg
src/images/user5.jpg
src/images/user6.jpg
