body {
  margin: 0;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}


.zones-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.usage-price-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.csv-input{
  display:block;
}

.surcharge-input {
  width: 5%;
  height: 3%;
  position: relative;
  top:15%;
}
.network-charge-input {
  width: 10%;
  height: 3%;
  position: relative;
  top:15%;
}