body {
  margin: 0;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.zones-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.description-text-header {
  color: white;
}

.description-text {
  color: orange;
  text-align: center;
  width: 75%;
}

.usage-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.csv-input {
  display: block;
}
.drop-down {
  width: 100%;
}

.surcharge-input {
  width: 11%;
  height: 80%;
  position: relative;
}

.fee {
  width: 12%;
}
.network-charge-input {
  width: 10%;
  height: 10%;
  position: relative;
  top: 15%;
}

.network-inputs {
  width: 60%;
}

.logo {
  width: 6em;
  margin-top: 10px;
}

.cooporation {
  margin-top: 1.5rem;
}

.logo-pris {
  width: 15em;
  margin-left: 1em;
}

.price-exp {
  width: 30em;
}

.results-table {
  margin: 0 5% 0 5%;
}

.results-card {
  width: 50%;
  margin-left: 25%;
}

.avg-price-lower {
  color: lightgreen;
  font-weight: bold;
}
.avg-price-higher {
  color: red;
  font-weight: bold;
}
.avg-price-extra {
  color: black;
  font-weight: 400;
  font-size: 0.8em;
}

.navbar {
  height: 5em;
}

.calculate {
  font-size: 2em !important;
  position: relative;
  left: 0%;
}

.reset-btn {
  font: 2em !important;
  position: relative;
  right: 1%;
}

.surcharge-title {
  position: relative;
  bottom: 0.25em;
}

.login-example-pic {
  width: 80%;
  margin-left: 20%;
  border-radius: 1%;
  height: 30em;
}

.login-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-title {
  position: relative;
  top: 10em;
  left: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5deb3;
}

.input-text {
  font-size: 2em;
}
.csv-file-exp {
  font-weight: normal;
  font-size: 1.3em;
}
.csv-modal {
  font-size: 1.5em;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.inst-pic {
  width: 100%;
}

.fixed-price-checkbox-container {
  display: flex;
  flex-direction: row;
}

.csv-flow-title {
  font-size: 2em;
}

.login-container {
  display: flex;
}

.modal-arrow {
  width: 10%;
  position: absolute;
  right: 3000px;
  top: 10px;
  z-index: 1;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.extras-container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  grid-template-areas:
    "extras fixed-price button"
    "extras2 fixed-price button ";
}

@keyframes arrow {
  0% {
    right: 10px;
    top: 8%;
  }
  50% {
    right: 10px;
    top: 9.5%;
  }
  100% {
    right: 10px;
    top: 8%;
  }
}

.fixed-checkbox {
  margin-right: 1%;
  margin-left: 1%;
}

.fixed-price-input {
  width: 30%;
}

.fixed-price {
  height: 50%;
  width: 80%;
  padding: 5px;
}

.left-side-table {
  text-align: right;
}

.right-side-table {
  text-align: left;
}

.middle-table {
  text-align: center;
}

.social-links {
  width: 350px !important;
  max-width: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1;
}

.email {
  color: blue !important;
  position: relative;
  left: 5%;
}
.github-link {
  width: 120%;
}
.fb-logo-navbar-container {
  position: relative !important;
  top: 45px;
}
.fb-logo-navbar {
  width: 100px !important;
}
.FB-logo {
  width: 20px;
  position: relative;
}

.support {
  background: linear-gradient(90deg, #7efff5 50%, rgba(255, 255, 255, 0) 50%);
  width: 100%;
}
.report {
  position: absolute;
  right: 5%;
}

.chart {
  position: relative;
  left: 10%;
  width: 80vw;
}

/* Network rates */
.network-rates-inputs {
  width: 50%;
}
.capacity-input {
  margin-top: 1%;
}
.all-result-tables {
  max-width: 99%;
}
.table {
  font-size: 1.4em;
  max-width: 100%;
  width: 100%;
}
.table-headers {
  font-size: 0.8em;
}

.minus-price {
  color: #82cd47 !important;
  font-weight: 500;
}

.loading {
  position: relative;
  left: 47%;
  top: 10rem;
}

/*Error reporting page */
.report-reset-button {
  font-size: 0.8em !important;
  color: grey !important;
}

/* Tutorial button div */
.network-help-small {
  display: none;
}
.example {
  position: absolute;
  right: -2%;
  top: 0%;
  z-index: 1;
}
.elhub-instructions {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}
.file-instructions {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.example-txt {
  background: #b04beb;
  background: linear-gradient(to bottom, #b04beb 0%, #4487d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  transform: rotate(45deg);
}

.network-help {
  color: red;
}

.exit-example {
  border-color: black !important;
  position: relative;
  left: 150px;
  top: 20px;
  background-color: purple !important;
}
.tutorial {
  border: solid black 1px;
  border-radius: 5%;
  padding: 2px;
  position: absolute;
  top: 27%;
  right: 4%;
  font-size: 1.3em;
  width: 30%;
  text-align: center;
}

.tutorial2 {
  border: solid black 1px;
  border-radius: 5%;
  padding: 2px;
  font-size: 1.2em;
  width: 80%;
  text-align: center;
  align-self: center;
  margin-bottom: 1%;
}

.tut-btn {
  font-size: 1.4em !important;
  position: relative;
}

.demo-btn {
  -webkit-animation: pulse 1.5s infinite;
  width: 100px;
  height: 100px;
  font-size: 1.2em !important;
}
.demo-btn:hover {
  -webkit-animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.fixed-price-example {
  color: red;
  font-size: 1.3em;
  font-weight: bold;
}
/* store and delete value buttons */
.storage-buttons-container {
  align-items: center;
  margin-left: 1%;
  margin-top: 10%;
}

.save-btn,
.delete-btn {
  height: 25%;
  font-size: 1.2em !important;
}

.save-btn {
  margin-bottom: 10%;
}

/* Example section */

.hidden {
  display: none;
}
.results-example {
  align-self: center;
  font-size: 3em;
  margin-bottom: 1%;
  border-radius: 5%;
  background-color: white;
  border-radius: 10px;
}

.results-example-txt {
  background: #b04beb;
  background: linear-gradient(to bottom, #b04beb 0%, #4487d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.no-weekend-btn {
  font-size: 0.8em;
}

.no-weekend-on {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}

.no-weekend-txt {
  font-size: 1em;
  font-weight: 500;
  color: red;
}

.day-max {
  border: solid black 1px;
  margin-left: 5%;
  font-size: 1.35em;
  padding: 3px;
  padding-bottom: 0px;
}

.day-max-title {
  position: relative;
}
@media screen and (max-width: 2500px) {
  .report {
    width: 10%;
    top: 25%;
  }
}
@media screen and (max-width: 1400px) {
  .table {
    font-size: 1.2em;
    width: 100%;
    max-width: 100%;
  }
  .usage-price-container {
    margin: 0 2% 0 2%;
  }
}
@media screen and (max-width: 1200px) {
  .price-exp {
    width: 20em;
  }
  .report {
    top: 15%;
  }

  .day-max-title {
    position: relative;
    top: 5px;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1000px) {
  .chart {
    display: none;
  }
  .surcharge-input {
    width: 2.5em;
  }
  .cookies-dec {
    margin-top: 5%;
  }

  .fixed-price-container {
    grid-area: extras2;
  }

  .fixed-price {
    display: flex;
    flex-direction: row;
    border: none !important;
    width: 80%;
    position: relative;
    left: 0%;
    margin-top: 2%;
    height: 80%;
  }

  .fixed-price-checkbox-container {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .site-descrip {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .report {
    width: 10%;
    position: absolute;
    top: 10px;
  }

  .calculate {
    left: 10%;
    top: 50%;
  }
}
@media screen and (max-width: 991px) {
  .logo,
  .logo-pris,
  .cooporation {
    position: relative;
  }
  .logo {
    bottom: 1.5em;
  }
  .cooporation {
    right: 15%;
    bottom: 35%;
  }
  .logo-pris {
    right: 30%;
    bottom: 40%;
  }
  .fb-logo-navbar-container {
    top: 10px;
  }
}
@media screen and (max-width: 890px) {
  .price-exp {
    width: 15em;
  }

  .results-card {
    width: 80%;
    margin-left: 10%;
  }
  .usage-price-container {
    flex-direction: column;
    margin: 0 -10px 0 2%;
  }
}

@media screen and (max-width: 800px) {
  .report {
    width: 20%;
    top: 25%;
  }

  .loading {
    left: 43%;
  }
  .storage-buttons-container {
    margin-top: 15%;
  }

  .hourly-prices {
    margin-top: 1em;
    justify-self: center;
    position: relative;
    right: 1em;
    margin-right: 1%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 790px) {
  .logo,
  .logo-pris,
  .cooporation {
    position: relative;
  }
  .logo {
    bottom: 1.5em;
  }
  .cooporation {
    right: 10%;
    bottom: 35%;
  }
  .logo-pris {
    right: 20%;
    bottom: 40%;
  }
}

@media screen and (max-width: 767px) {
  .example {
    width: 70%;
  }

  .network-help {
    width: 40%;
  }

  .calculate {
    left: -3%;
    top: 15%;
  }
  .day-max-title {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 639px) {
  .example {
    right: 0%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-txt {
    font-size: 5em;
    transform: rotate(0deg);
    background: #ebeb0c;
    background: linear-gradient(to bottom left, #ebeb0c 0%, #55cbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .exit-example {
    left: 0;
    background-color: purple !important;
    border-color: black !important;
  }
  .report {
    top: 15%;
  }
}

@media screen and (max-width: 600px) {
  .report {
    font-size: 0.6em;
    top: 10%;
    right: 3%;
  }
  .table {
    font-size: 0.9em;
  }
  .day-max-title {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 550px) {
  .network-help h5 {
    margin-left: 2%;
    font-size: 1em;
    width: 80%;
  }
  .no-weekend-text {
    font-size: 1em;
    position: relative;
    top: 13%;
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .page-container {
    display: flex;
    flex-direction: column;
  }
  .inputs-container {
    flex-direction: column;
    margin: 2% 5% 2% 5% !important;
  }
  .description-text {
    width: 100%;
  }
  .inputs-card {
    justify-self: center;
    margin: 2% 9% 2% 10% !important;
    position: relative;
    left: 2%;
  }

  .demo-btn {
    width: auto;
    height: auto;
    font-size: 1em !important;
  }

  .calculate {
    position: relative !important;
    top: 49%;
    right: 100px !important;
    font-size: 1.5em !important;
  }

  .inputs-and-button {
    flex-direction: column;
  }

  .reset-btn {
    position: relative;
    right: 5%;
  }

  .site-descrip {
    margin-left: 40% !important;
    margin-right: 40% !important;
  }

  .daily-prices {
    margin: 0 1px 0 1px !important;
  }
  .hourly-prices {
    margin: 2% 2% 30% 4% !important;
    align-self: center;
  }

  .cooporation,
  .logo-pris {
    display: none;
  }

  .price-exp {
    width: auto;
    padding: 0.3rem;
  }

  .fixed-price {
    margin-top: -15%;
  }

  .fixed-price-input {
    width: 80%;
    height: 2em;
    align-self: center;
    margin-right: 1%;
  }

  .report {
    width: 25%;
    right: 10px;
  }

  .support {
    width: 120%;
  }
  .results-card {
    width: 100%;
    margin-left: 1%;
    cursor: crosshair !important;
  }
  .table {
    width: 100%;
    font-size: 0.9em;
  }

  .loading {
    position: relative;
    left: 39%;
  }

  .save-btn,
  .delete-btn {
    height: auto;
    padding: 10px;
    font-size: 1em !important;
  }
  @keyframes arrow {
    0% {
      right: 10px;
      top: 20%;
    }
    50% {
      right: 10px;
      top: 21%;
    }
    100% {
      right: 10px;
      top: 20%;
    }
  }

  .cookies-dec {
    margin-top: 15%;
  }

  .network-help h5 {
    margin-left: 2%;
    font-size: 0.9em;
    width: 80%;
  }

  .fixed-price {
    width: 100%;
    position: relative;
    top: 40px;
    height: 80px;
    flex-direction: row;
    padding: 0px;
  }

  .other-fees-input {
    position: rela;
  }
}
@media screen and (max-width: 460px) {
  .other-fees-title {
    font-size: 1.1em;
  }
  .results-example {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .results-example-txt {
    font-size: 0.6em;
    vertical-align: middle;
  }

  .day-max {
    font-size: 0.8em;
  }
  .day-max-title {
    top: 0;
    font-size: 0.85em;
  }
}
@media screen and (max-width: 400px) {
  .daily-table {
    font-size: 0.88em;
  }

  .hourly-prices {
    margin: 2% 3% 30% 8% !important;
    font-size: 0.9em;
  }

  .reset-btn {
    right: 9%;
  }
  .support {
    width: 140%;
  }
  .calculate {
    position: relative;
    left: -30%;
  }
  .detailed-table {
    font-size: 0.75em;
    width: 100%;
  }
  .loading {
    position: relative;
    left: 27%;
  }
  .example {
    height: 10%;
  }
  .example-txt {
    font-size: 4.5em;
  }
  .calculate {
    top: 48%;
  }
  .other-fees-txt {
    width: 80%;
  }
  .network-help h5 {
    margin-left: 2%;
    font-size: 0.7em;
    width: 80%;
  }
  .no-network-btn {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 375px) {
  .table-hourly {
    margin-right: 10%;
  }
  .detailed-table {
    font-size: 0.75em;
  }
  .loading {
    position: relative;
    left: 31%;
  }
  .fixed-price {
    padding: 0px;
    margin-bottom: 10px;
  }
}
